/******************************************************************************/
                                //GRID ESTRUCTURE
/*******************************************************************************/

// CONTAINTER HOME
.container_home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'screen'
                         'paragraph'
                         'card_aeroline_home';
}

// SCREEN IMAGES
.screen {
    grid-area: screen;
    display: grid;
    grid-template-rows: 1fr;
}

.card_aeroline_home {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 100vh;
    overflow-y: scroll;
}
// PARAGRAPH
.paragraph {
    padding: 3rem;
    grid-area: paragraph;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/******************************************************************************/
                        //RESPONSIVE MEDIA QUERIES
/*******************************************************************************/

@media only screen and (max-width: 600px) {
    // CONTAINER HOME
    .container_home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 'screen'
                             'paragraph'
                             'card_aeroline_home';
    }
    // SCREEN
    .screen {
        grid-area: screen;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-items: center;
        display: grid;
    }
    // PARAGRAPH
    .paragraph {
        padding: 3rem;
        grid-area: paragraph;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    // CARD AEROLINE HOME
    .card_aeroline_home {
        grid-area: card_aeroline_home;
        display: grid;
        margin: 1rem;
        grid-template-columns: 1fr;
        max-height: 100vh;
        overflow-y: scroll;
    }

}