// Colors
@import '../../../assets/styles/colors.scss';
/******************************************************************************/
                                //GRID ESTRUCTURE
/*******************************************************************************/

// CONTAINER SEARCH
.container_search {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto, 1fr;
    grid-template-areas: 'header_search'
                         'content_search';
    justify-content: center;
}

// header_search
.header_search {
    background-color: $color-blue-3;
    grid-area: header_search;
    padding: 1rem 2rem  1rem 2rem;
    color: $color-blue-2;
    & span {
        display: block;
        color: $color-blue-2 !important;
        font-weight: bold;
    }
} 


// CONTENT
.content_search {
    background-color: $color-white-1;
    border: 0.3px solid $color-gray-3;
    grid-area: content_search;
    height: 200px;
    display: grid;
    align-items: center;
}




/******************************************************************************/
                                // GENERAL STYLES
/*******************************************************************************/
/******************************************************************************/
                        //RESPONSIVE MEDIA QUERIES
/*******************************************************************************/

@media only screen and (max-width: 600px) {
  .container_search {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      & p {
          grid-row: 1 / span 1;
      }
  }
}