// Colors
@import '../../../assets/styles/colors.scss';

/******************************************************************************/
                                //GRID ESTRUCTURE
/*******************************************************************************/

// CONTAINER SCREEN
.container_screen {
    display: grid;
    grid-template-areas: 'title' 
                         'content';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: relative;
}
.title {
    grid-area: title;
        text-align: center;
        justify-self: center;
        font-size: 30px;
        padding: 2rem;
}

// IMG SCREEN
.img_screen {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
} img {
    height: auto;
    max-height: 50vh;
    width: 100%;

}

// SEARCH
.search {
    justify-content: center;
    width: 100%;
}

/******************************************************************************/
                                //GENERAL STYLES
/*******************************************************************************/




/******************************************************************************/
                        //RESPONSIVE MEDIA QUERIES
/*******************************************************************************/

@media only screen and (max-width: 600px) {

// CONTAINER SCREEN
.container_screen {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    grid-template-rows: auto auto;
    grid-template-areas: 'title' 
                         'content';
}
.title {
    grid-area: title;
    & strong {
        color: $color-black-1;
    }
}

// IMG SCREEN
.img_screen {
    grid-area: content;
    display: grid;
    grid-template-rows:  auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'seach_content';

}

// SEARCH
.search {
    grid-area: search_content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 65vh;
    & span {
        color: $color-white-1;
    }
    justify-content: center;
    width: 100%;
}
    
    
}