// COLORS HEXADECIMAL

// BLUE COLORS
$color-blue-1: #0078D2;
$color-blue-2: #3FADFF;
$color-blue-3: #36495A;

// BLACK COLORS
$color-black-1: #000000;
$color-black-2: #131313;

// GRAY COLORS
$color-gray-1: #5f686d;
$color-gray-2: #9DA6AB;
$color-gray-3: #E5E5E5;
$color-gray-4: #F5F5F5;
$color-gray-5: #555;

// RED COLORS
$color-red-1: #FB1B38;


// WHITE COLORS
$color-white-1: #FFFFFF;



// RGBA

// PURPLE COLORS
$color-purple-rgba-1: rgba(124, 0, 145, 0.9);

// BLUE COLORS
$color-blue-rgba-1: rgba(0, 120, 210, 0.9)